# === Gradle & Build output ===
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# === STS / Eclipse ===
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/

# === IntelliJ IDEA ===
.idea/
*.iws
*.iml
*.ipr
out/

# === NetBeans ===
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# === VS Code ===
.vscode/

# === OS / 기타 잡파일 ===
.DS_Store
*.log
logs/
tmp/

# fly 설정은 이미지 안에 굳이 넣을 필요 없음(원하면 지워도 됨)
fly.toml
